body {
  margin: 0;
  background-color: #333333;
}
.buttonControls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.screenArea {
  display: grid;
  grid-template-columns: auto auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  column-gap: 20px;
}
button {
  margin-right: 15px;
  border-radius: 5px;
  height: 25px;
  width: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fdae38;
  color: #ffffff;
  font-weight: bold;
}
button:active {
  background-color: #B8860B;
}
.workspace {
  font-family: monospace;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fdae38;
  background-color: #444444;
  border: none;
  border-radius: 15px;
  outline: none;
  resize: none;
  transition: background 0.15s, color 0.15s;
}
.workspace-input:hover,
.workspace:focus {
  background-color: #4a4a4a;
}
.key{
  color: pink;
}